{
  "$schema": "https://swc.rs/schema.json",
  "jsc": {
    "target": "esnext",
    "baseUrl": ".",
    "paths": {
      "@/*": ["scripts/*"]
    },
    "parser": {
      "syntax": "typescript"
    },
    "minify": { 
      "compress": true, 
      "mangle": true 
    }
  },
  "module": {
    "type": "es6",
    "resolveFully": true
  },
  "minify": true
}
